@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: 'Alegreya Sans', sans-serif;
  }

  body {
    @apply bg-[#ecf0f3] text-[#374151] tracking-wider;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ecf0f3;
  border-radius: 3px;
  box-shadow: inset 0 0 5px #ecf0f3;
}

::-webkit-scrollbar-thumb {
  background: #0e00a7;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0e00a7;
}
